body {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.nav, 
.block-text {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 30px);

}

.inner-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.nav {
    margin: 20px 0 20px 40vw;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 30px 30vw;
    box-sizing: border-box;
}

.inner-nav a {
    padding: 10px 30px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    width: calc(50% - 130px);
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #303030;
}

.block-text {
    margin: 20px -20vw;
    padding: 0 0 0 30px;
}

.block-text p {
    width: 100%;
    margin: 0 45% 5px 0;
    font-size: 64px;
    text-align: right;
    letter-spacing: -2px;
    color: #303030;
    font-weight: 700;
}

.block-text p:nth-of-type(2) {
    margin-top: -55px;
    font-size: 90px;
    letter-spacing: -5px;
}